body {
    background-color: #EEE7DE;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*網頁右側多餘空白*/
html{
    overflow-x: hidden;
}
html, body{
    height: 100%;
}


/*標題*/
header {
    color: #2B3956;
    text-align: center;
    font-size: 30px;
    text-shadow: 0.2em 0.2em 0.2em #959DA6;
}
.hori-line{
    width: 3cm;
    height: 1px;
    border-top: solid #2B3956;
    position: absolute;
    top: 85px;
    left: 790px;
    box-shadow: 0.2em 0.2em 0.2em #959DA6;
    animation: hori-line 3s ease;
    animation-iteration-count: 1;
}
@keyframes hori-line {
    0% {
        width: 0%;
    }

    100% {
        width: 3cm;
    }
}

/*導覽列*/
nav {
    text-align: center;
    color: #2B3956;
    font-size: 18px;
    position: relative;
    top:-15px
}
.navtext {
    display: flex;
}
nav li {
    list-style: none;
    display: inline-block;
    position: relative;
    left: 540px;
}
.navtext a{
    text-decoration: none;
    color: #2B3956;
}
.navtext a:visited{
    color: #2B3956;
}
.navtext a:active{
    color: #C0B8B8;
}
.navtext a:hover{
    color: #C0b8b8;
}

/*intro*/
.introbg {
    background-color: #2B3956;
    height: 9.5cm;
    margin: -10px;
    position: relative;
    top: -15px;
}

.hscircle {
    width: 7.5cm;
    height: 7.5cm;
    background-color: #2B3956;
    border-radius: 50%;
    border: 4px #EEE7DE solid;
    position: relative;
    left: 400px;
    top: 35px;
}
.headshot {
    position: absolute;
    width: 7cm;
    left: 9px;
    top: 9px;
    transition: 0.5s;
    opacity: 0.7;
}
.headshot:hover{
    transform: scale(1.08);
    opacity: 1;
}

.introbox {
    color: #EEE7DE;
    position: relative;
    left: 820px;
    top: -210px;
}

.introtext1 {
    font-size: 35px;
    font-weight: 900;
}
.introtext2 {
    font-size: 18px;
}
.introtext3 {
    font-size: 23px;
    font-style: oblique;
}


/*Skills*/
.skibg{
    background-color: #EEE7DE;
    height: 19.9cm;
    margin: -10px;
    position: relative;
    top: -5px;
}
.skills{
    writing-mode: vertical-lr;
    text-orientation: mixed;
    color: #2B3956;
    font-size: 100px;
    font-weight: 900;
    position: absolute;
    top: -6px;
    left: -37px;
}
.vertical-linel{
    height: 10cm;
    border-right: 8px solid #2B3956;
    position: absolute;
    top: 0px;
    left: 63px;
}
.square{
    width: 35cm;
    height: 13cm;
    background-color: transparent;
    border: 4px #C0B8B8 solid;
    position: absolute;
    top: 67px;
    left: 195px;
}
.square1{
    width: 35cm;
    height: 13cm;
    background-color: transparent;
    border: 6px #2B3956 solid;
    position: absolute;
    top: 40px;
    left: 170px;
}
.skills-text{
    width: 35cm;
    height: 11cm;
    color: #2B3956;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 88px;
    left: 240px;
}

/*loading*/
.loading {
    width: 13cm;
    height: 1cm;
    background-color: #959DA6;
    border-radius: 2px;
    display:flex; 
    justify-content: flex-start; 
    align-items:center;
}

#ski1 {
    width: 50%;
    height: 0.6cm;
    background-color: #2B3956;
    position: relative;
    left: 7px;
    animation: ski1 6s ease;
    animation-iteration-count: infinite;
}
#ski2 {
    width: 60%;
    height: 0.6cm;
    background-color: #2B3956;
    position: relative;
    left: 7px;
    animation: ski2 6s ease;
    animation-iteration-count: infinite;
}
#ski3 {
    width: 60%;
    height: 0.6cm;
    background-color: #2B3956;
    position: relative;
    left: 7px;
    animation: ski2 6s ease;
    animation-iteration-count: infinite;
}
#ski4 {
    width: 65%;
    height: 0.6cm;
    background-color: #2B3956;
    position: relative;
    left: 7px;
    animation: ski4 6s ease;
    animation-iteration-count: infinite;
}
#ski5 {
    width: 40%;
    height: 0.6cm;
    background-color: #2B3956;
    position: relative;
    left: 7px;
    animation: ski5 6s ease;
    animation-iteration-count: infinite;
}
#ski6 {
    width: 45%;
    height: 0.6cm;
    background-color: #2B3956;
    position: relative;
    left: 7px;
    animation: ski6 6s ease;
    animation-iteration-count: infinite;
}
#ski7 {
    width: 75%;
    height: 0.6cm;
    background-color: #2B3956;
    position: relative;
    left: 7px;
    animation: ski7 6s ease;
    animation-iteration-count: infinite;
}
#ski8 {
    width: 85%;
    height: 0.6cm;
    background-color: #2B3956;
    position: relative;
    left: 7px;
    animation: ski8 6s ease;
    animation-iteration-count: infinite;
}

@keyframes ski1 {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}
@keyframes ski2 {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}
@keyframes ski4 {
    0% {
        width: 0%;
    }

    100% {
        width: 65%;
    }
}
@keyframes ski5 {
    0% {
        width: 0%;
    }

    100% {
        width: 40%;
    }
}
@keyframes ski6 {
    0% {
        width: 0%;
    }

    100% {
        width: 45%;
    }
}
@keyframes ski7 {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}
@keyframes ski8 {
    0% {
        width: 0%;
    }

    100% {
        width: 85%;
    }
}


/*Certificates bg*/
.certbg{
    background-color: #2B3956;
    height: 14cm;
    margin: -10px;
    position: relative;
    top: -150px;
}
.vertical-line-r{
    height: 10cm;
    border-right: 8px solid #EEE7DE;
    position: absolute;
    top: 0px;
    left: 1470px;
}
.certificates{
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    color: #EEE7DE;
    font-size: 100px;
    font-weight: 900;
    position: absolute;
    top: -5px;
    left: 1255px;
}

/*Certificates img效果*/
.container {
    width: 1000px;
    margin: 0 auto;
    align-items: center;
    position: relative;
    top: 16px;
}
.container::after {
    clear: both;
    display: table;
    content: '';
}

.bg-items {
    padding: 13px;
    width: 260px;
    height: 180px;
    margin: 20px;
    background-color: #EEE7DE;
    float: left;
    cursor: pointer;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 5);
}
.items {
    width: 260px;
    height: 180px;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.details {
    background-color: rgba(0, 0, 0, 0.5);
    width: 260px;
    height: 180px;
    padding: 10px;
    top: 0;
    left: 0;
    color: #EEE7DE;
    opacity: 0;
    transition: opacity .8s;
}

.details h3 {
    margin-bottom: 27px;
}
.details h6 {
    text-align: right;
    margin-top: 40px;
}
.details p {
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    line-height: 22px;
}

.items:hover .details {
    opacity: 1;
    transition: opacity .2s .3s;
}
.items div {
    position: absolute;
}

/*特效一*/
.one {
    left: 100%;
    bottom: 100%;
    width: inherit;
    height: inherit;
    background-color: #2B3956;
    transition: all .3s;
}
.items:hover .one {
    transition: all .3s;
    left: 0;
    bottom: 0;
}

/*特效二*/
.tl2 {
    border-top   : 181px solid #2B3956;
    border-right : 261px solid transparent;
    top  : -180px;
    left : -260px;
    transition   : all .3s;			
}
  .br2 {
    border-bottom : 181px solid #2B3956;
    border-left   : 261px solid transparent;
    bottom : -180px;
    right  : -260px;
    transition   : all .3s;			
}
  .items:hover .tl2 {
    top  : 0;
    left : 0;
    transition   : all .3s;
}
  .items:hover .br2 {
    bottom : 0;
    right  : 0;
    transition   : all .3s;
}

/*特效三*/
.three-r , .three-l{
    width : 160px;
    height: inherit;
    background-color : #2B3956;
    top : 0;
    transition : all .3s;
}
.three-r {
    left : 100%;
}
.three-l {
    right : 100%;
}
.items:hover .three-r {
    transition : all .3s;
    left : 50%;
}
.items:hover .three-l {
    transition : all .3s;
    right : 50%;
}

/*特效四*/
.four-r , .four-l{
    width : 160px;
    height: inherit;
    background-color : #2B3956;
    top : 0;
    transition : all .3s;
} 
.four-r {
    left : 100%;
}
.four-l {
    right : 100%;
}
.items:hover .four-r {
    transition : all .3s;
    left : 0;
} 
.items:hover .four-l {
    transition : all .3s;
    right : 0;
}

/*特效五*/
.five {
    width  : inherit;
    height : 60px;
    background-color: #2B3956;
    transition : all .3s;
}
.five.i {
    top : 0;
    left : -100%;
} 
.five.ii {
    top : 40px;
    left : 100%;
}
.five.iii {
    top : 80px;
    left : -100%;
}
.five.iv {
        top  : 120px;
        left : 100%;
}
.items:hover .five {
    left : 0;
    transition : all .4s ;
}

/*特效六*/
.six {
    width : inherit;
    height: inherit;
    background-color : #2B3956;
    transition   : all .3s;
    left : 0;
    top  : 0;
    transform: scale(0,0) rotate(0deg);
}  
.items:hover .six {
    left : 0;
    top  : 0;
    transform: scale(1,1) rotate(1080deg);
    transition   : all .3s;
}


/*Experience*/
.expbg{
    background-color: #EEE7DE;
    height: 13.8cm;
    margin: -10px;
    position: relative;
    top: -140px;
}
.experience{
    writing-mode: vertical-lr;
    text-orientation: mixed;
    color: #2B3956;
    font-size: 100px;
    font-weight: 900;
    position: absolute;
    top: -11px;
    left: -37px;
}

/*card*/
.cardposi1{
    position: absolute;
    left: 380px;
    top: 260px;
}
.cardposi2{
    position: absolute;
    left: 830px;
    top: 260px;
}
.cardposi3{
    position: absolute;
    left: 1280px;
    top: 260px;
}

.centered-wrap{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}
  
.card-wrap{
    width:300px;
    height:420px;
    position:relative;
}
.card-wrap2{
    width:420px;
    height: 300px;
    position:relative;
}
  
.card{
    position:absolute;
    width:100%;
    height:100%;
    transform-style:preserve-3d;
    transition:0.5s all ease;
    box-shadow:0px 0px 10px rgba(10,10,0.8);
}  
.card:hover{
    transform:rotateY(180deg);
}
  
/*front card*/
.card-front{
    border-radius:5px;
    position:absolute;
    width:100%;
    height:100%;
}  
.card-front img{
    width: 100%; 
    height: 100%;  
}
  
/*back card*/
.card-back{
    border-radius:5px;
    position:absolute;
    width:100%;
    height:100%;
    backface-visibility:hidden;
    color:#2B3956;
    background-color: #dde1ee;
    transform:rotateY(180deg);
    text-align: center;
    font-size: 15px;
}
.cardback-text{
    margin: 20px;
    position: absolute;
}
#text1{
    margin: 20px;
    position: absolute;
    top: 50px;
}
#text2{
    margin: 20px;
    position: absolute;
    top: -15px;
}
#text3{
    margin: 20px;
    position: absolute;
    top: 40px;
}
.cardback-text span{
    font-size: 24px;
    font-weight: bold;
  }
.cardback-text p{
    text-align: left;
}
.cardback-text img{
    width: 25px;
    padding: -20px;
    position: relative;
    top: 5px;
}
.button{
    float: right;
    position: relative;
    top:-5px;
}


/*Others*/
.othbg{
    background-color: #2B3956;
    height: 17.2cm;
    margin: -10px;
    position: relative;
    top: -130px;

}
.fol{
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    color: #EEE7DE;
    font-size: 80px;
    font-weight: 900;
    position: absolute;
    top: -5px;
    left: 1295px;
}

.imgbbox{
    width: 20cm;
    padding: 10px;
    position: absolute;
    left: 220px;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
}
.imgsbox{
    width: 5cm;
    height: 5cm;
    border: 10px solid  #2B3956;
}
.photo{
    width: 5cm;
    height: 5cm;
    border-radius: 2px;
    transition: 0.2s;
}
.photo:hover{
    transform: scale(1.5);
    -moz-box-shadow: 0 10px 6px -6px #959DA6 ;
    -webkit-box-shadow: 0 10px 6px -6px #959DA6 ;
    box-shadow: 0 10px 6px -6px #959DA6 ;}


/*footer*/
footer{
    position: relative;
    top: -115px;
    text-align: center;
    font-size: 18px;
    color: #2B3956
}
.butbg img{
    width: 1cm;
}


/*topbt*/
.bttop{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    position: fixed;
    bottom: 16px;
    right: 25px;
    background-color: #B8B0B0;
    transition: 0.25s;
    transform: scale(1.06);
}
.bttop h3{
    position: relative;
    top: -3px;
    text-align: center;
    color: #482828;
}
.bttop:hover{
    opacity: 0.6;
}
